# Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
.env
.env.local

# Django
*.sqlite3
*.log
*.pot

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Virtual Environment
venv/
env/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Pygame (если есть)
*.save
*.highscore